(common) {
        encode zstd gzip
        header /* {
                -Server
                -x-powered-by
        }
}

<YOUR_DOMAIN> {
        handle /* {
                reverse_proxy lychee
        }
        import common
}
